# ==========================
# Python / Jupyter
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.ipynb_checkpoints
**/.ipynb_checkpoints

# ==========================
# Entornos virtuales
# ==========================
env/
.venv/
venv/

# ==========================
# Datos y modelos pesados
# ==========================
*.pkl
*.h5
*.joblib
data/raw/
data/interim/
data/processed/
# Si quieres subir solo un sample:
# !data/sample.json

# ==========================
# Archivos temporales / Logs
# ==========================
*.log
*.tmp
*.DS_Store

# ==========================
# Power BI / Otros
# ==========================
*.pbix.tmp
*.pbixCache
*.env
.vscode/
